*
{
	margin: 0;
	padding: 0;

}

body
{
	background: darkblue;
	background-image: url("images/Mountains.svg.png");
}

html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.under_construction
{
	position: fixed;
	top: 37%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sidenav 
{
	height: 100%; 
	width: 0; 
	position: fixed; 
	z-index: 1;
	top: 0; 
	left: 0;
	background-color: #111;
	overflow-x: hidden; 
	padding-top: 60px;
	transition: 0.5s; 
}

.sidenav a 
{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover 
{
	color: #f1f1f1;
}

.sidenav .close 
{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#items 
{
	transition: margin-left .5s;
	padding: 20px;
}

@media screen and (max-width: 900px) 
{
	body
	{
		background-attachment:initial;
	}
} 
  

@media screen and (max-height: 450px) 
{
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
} 
  
div.github
{
	position: fixed;
	top: 37%;
	left: 41%;
	transform: translate(-50%, -50%);
}

div.link_in
{
	position: fixed;
	top: 37%;
	left: 59%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 1100px) 
{
    div.github {
		position: fixed;
		top: 37%;
		left: 31%;
		transform: translate(-50%, -50%);
    }

	div.link_in
	{
		position: fixed;
		top: 37%;
		left: 69%;
		transform: translate(-50%, -50%);
	}
}

div.thanks
{
	color:black;
	position: fixed;
	top: 35%;
	left: 50%;
  	transform: translate(-50%, -50%);
}

div.email
{
	color:black;
	font-size: 25px;
	position: fixed;
	top: 40%;
	left: 50%;
 
  transform: translate(-50%, -50%);
}

div.loc
{
	color:black;
	position: fixed;
  	top: 45%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}